/* You can add global styles to this file, and also import other style files */
.abaixo-menu {
    padding-top: 4%;
}

.baixo-cima {
    margin-top: 7%;
    margin-bottom: 3%;
}

.escolha .form-control {

    width: 30%;
    margin-left: 30px;
}

.escolha .glyphicon {
    margin-left: 30px;
}

@media(max-width: 600px) {
    .escolha .form-control {
        width: auto;
        margin: 30px;
    }
    .glyphicon {
        width: auto;
        margin-left: 30px;
        /*margin-bottom: 5px;
        margin-top: 5px;*/
    }
}

.formulario-admin {
    padding-bottom: 5%;
}

@media(max-width: 600px) {
    .formulario-admin label {
    padding-left: 5%;
    }

}