<div class="abaixo-menu">
  <pre class="card card-block card-header">Cantores Selecionados: {{asyncSelected | json}}</pre>
    <input [(ngModel)]="asyncSelected"
        [typeahead]="dataSource"
        (typeaheadLoading)="changeTypeaheadLoading($event)"
        (typeaheadNoResults)="changeTypeaheadNoResults($event)"
        (typeaheadOnSelect)="typeaheadOnSelect($event)"
        typeaheadOptionsLimit="7"
        typeaheadOptionField="artista"
        placeholder="Selecione um artista"
        class="form-control">
  <div *ngIf="typeaheadLoading===true">
    <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
  </div>
  <div *ngIf="typeaheadNoResults===true" class="" style="">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
  </div>
</div>

<br>

<div style="padding-left:30px;">
  Músicas Selecionadas: <span *ngFor="let music of selectedCategories" style="margin-right:10px">{{music}}</span>
</div>

  <div id="albuns" class="container">
    <div class="row">

      <div class="album" *ngFor="let item of listaMusicas">
        <div class="col-md-2"><img src="{{item.imagem}}" class="img-responsive center-block"></div> 
        <div class="col-sm-4">
          <h2 class="titulo-album">{{item.titulo}}</h2>
          <h3 class="subtitulo-album">{{item.ano}}</h3>
          <p class="texto-album">Henrique e Juliano</p>

          <div *ngIf="usuarioLogado" class="well">
            <ul ul id="check-list-box" class="list-group checked-list-box" *ngFor="let musica of item.musicas" > 
              <li class="list-group-item">
                <p-checkbox name="grupo"  value="{{musica}}" label="{{musica}}" [(ngModel)]="selectedCategories"></p-checkbox> 
                <!--<span class="badge" >{{votos()}}</span>-->
              </li>
            </ul>
          </div>
          <div class="well" *ngIf="!usuarioLogado">
            <ul ul id="check-list-box" class="list-group checked-list-box" > 
              <li class="list-group-item">
                <p>Você precisa realizar login para votar!</p>
              </li>
            </ul>
          </div>

      </div>
      </div>
    </div> 
  </div>