    <div class="container">
      <div class="panel panel-default">
        <div class="row">
          <div class="col">
          <form class="form">
            <h2>Mudar senha </h2>
            <hr style="border: solid #E6E6E6; border-width: 5px 0 0; clear: both; margin: 22px 0 21px; height: 0;">
            <div class="form-group">
              <input type="email" disabled name="email" id="email" class="form-control input-lg"  [(ngModel)]="usuarioDTO.email" placeholder="Email" tabindex="4">
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="senha" id="senha" class="form-control input-lg" [(ngModel)]="usuarioDTO.senha" placeholder="Senha" tabindex="5">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="confimacao_senha" id="confimacao_senha" class="form-control input-lg" placeholder="Confirmar Senha" tabindex="6">
                </div>
              </div>
            </div>

            <hr style="border: solid #E6E6E6; border-width: 5px 0 0; clear: both; margin: 22px 0 21px; height: 0;">
            <div class="row">
              <div class="col-xs-12 col-md-6"><input type="button" (click)="atualizar()"value="Registrar" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>