<div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Fan Playlist</a>
      <!--<a class="navbar-brand nav-city" href="#myPage" style="padding-left:500px">'Cidade'</a>-->
    </div>

    <div (collapsed)="collapsed($event)" 
    (expanded)="expanded($event)" 
    [collapse]="!isCollapsed" 
    class="collapse navbar-collapse">


      <ul class="nav navbar-nav navbar-right">

        <li><a [routerLink]="['']" [routerLinkActive]="['router-link-active']">PRINCIPAL</a></li>
        <li><a href="#equipe">EQUIPE</a></li>
        <li><a href="#shows">SHOWS</a></li>
        <li><a href="#artistas">ARTISTAS</a></li>
        <li><a href="/musicas">MUSICAS</a></li>
        <li><a [routerLink]="['ranking']" [routerLinkActive]="['router-link-active']">RANKING</a></li>
        <li><a [routerLink]="['login']" [routerLinkActive]="['router-link-active']">LOGIN</a></li>


        <!--<li class="btn-group" dropdown>
          <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" href="#">MAIS
            <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#termos">Termos de Uso</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#contato">Entrar em Contato</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </li>-->

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MAIS
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#termos">Termos de Uso</a></li>
            <li><a href="#contato">Entrar em Contato</a></li>
            <li><a [routerLink]="['registrar']" [routerLinkActive]="['router-link-active']">Registrar</a></li>
            <li><a [routerLink]="['perfil']" [routerLinkActive]="['router-link-active']">Perfil</a></li>
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Website desenvolvido no repositório <a href="https://github.com/pedlop/fan-playlist" data-toggle="tooltip" title="Visite pedlop/fan-playlist">github.com/pedlop/fan-playlist</a></p>
  <p>Projeto criado e versão mobile futuramente disponiblizada pela equipe <a href="https://bitbucket.org/asbuilt/"><b>ASBuilT</b></a></p>
  <p>© 2017 FanPlaylist. Todos os direitos reservados.
    <u><a href="https://github.com/pedlop">  Pedro Lopes</a></u>
  </p>
</footer>