<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>FanPlaylist</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--<link
      rel="stylesheet"
      type="text/css"
      href="app.component.css">-->
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Fan Playlist</a>
      <!--<a class="navbar-brand nav-city" href="#myPage" style="padding-left:500px">'Cidade'</a>-->
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
        
      
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="#myPage">PRINCIPAL</a></li>
        <li><a href="#equipe">EQUIPE</a></li>
        <li><a href="#tour">TOUR</a></li>
        <li><a href="#shows">SHOWS</a></li>
        <li><a href="#artistas">ARTISTAS</a></li>
        <li><a href="/ranking">MUSICAS</a></li>
        <li><a href="#contact">CONTATO</a></li>
        <li><a href="/login">LOGIN</a></li>
        
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MAIS
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#termos">Termos de Uso</a></li>
            <li><a href="#">Merchandise</a></li>
            <li><a href="#">Extras</a></li>
            <li><a href="#">Media</a></li> 
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="New York" width="1200" height="300">
        <div class="carousel-caption">
          <h3>Estamos em sua Cidade</h3>
          <p>A atmosfera dos shows invade seus dispositivos móveis.</p>
        </div>      
      </div>

      <div class="item">
        <img src="http://brazil-eventer.com/images/covers/brazil/villa-mix-festival-oficial-2017-goiania-2681.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago - A night we won't forget.</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="la.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>LA</h3>
          <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container (The Band Section) -->
<div id="equipe" class="container text-center">
  <h3>A EQUIPE ASBuilT</h3>
  <p><em>Desenvolvendo Aplicações!</em></p>
  <p>ASBuilT - Application and Systems Builder Team.</p>
  <p>A ideia de ter uma equipe para desenvolvimento de aplicações, tanto web quanto mobile, teve início após a realização de diversos trabalhos pelos integrantes da equipe, juntamente com a 
    ideia que um de nossos membros teve quanto ao desenvolvimento de uma aplicação relacionada a Shows de Músicas, logo veio também a criação do nome da equipe que iria desenvolvê-la.
    Todos os membros estão no 7º período do curso de Engenharia de Software pela Universidade Federal de Goiás. A criação de um website desta aplicação veio com a necessidade de construir uma
    ferramenta web para a disciplina Desenvolvimento de Software para Web 2017/1, ministrada pelo professor Walison Moreira. Toda a documentação está disponível apenas para os membros da equipe
    na solução Git conhecida com Bitbucket. O repositório deste website pode ser encontrado no Github em <a href="http://www.github.com/pedlop/fan-playlist">FanPlaylist</a>.
  </p>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <p class="text-center"><strong>Pedro Victor</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="https://lh3.googleusercontent.com/-YViV3lbb0QU/WHv73JYuy0I/AAAAAAAAFQ4/WxGPNE1WdYI_ZNvlb2Bm6gUfx5bd28whQCEw/w140-h140-p/IMG_3949.JPG" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Estudante de Engenharia de Software - UFG</p>
        <p>Gerencia de Configuração/Projeto e Desenvolvimento Full-Stack</p>
        <p>Cursando 7º período</p>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>Lucas Vinicios</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/15171133_1497460786961441_508479736008722086_n.jpg?oh=838ef91b5264ae15c08013b1e88a00b9&oe=59B5ED62" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Estudante de Engenharia de Software - UFG</p>
        <p>Desenvolvimento Full-Stack</p>
        <p>Cursando 7º período</p>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>João Henrique</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/10305961_643148819126726_5203516738795697353_n.jpg?oh=7bc6436428abb9758f3ebe024dfe2e6f&oe=599C7023" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Estudante de Engenharia de Software - UFG</p>
        <p>Desenvolvimento Full-Stack</p>
        <p>Cursando 7º período</p>
      </div>
    </div>
      <div class="col-sm-3">
      <p class="text-center"><strong>Gabriel Barbosa</strong></p><br>
      <a href="#demo4" data-toggle="collapse">
        <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/10959674_447173758784337_6821884226283037114_n.jpg?oh=d0afda04512d71b4b11f0e1224609426&oe=59ADC047" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>Estudante de Engenharia de Software - UFG</p>
        <p>Desenvolvimento Full-Stack</p>
        <p>Cursando 7º período</p>
      </div>
    
    </div>
  </div>
</div>

<!-- Container (TOUR Section) -->
<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">TOUR DATES</h3>
    <p class="text-center">Lorem ipsum we'll play you some music.<br> Remember to book your tickets!</p>
    <ul class="list-group">
      <li class="list-group-item">September <span class="label label-danger">Sold Out!</span></li>
      <li class="list-group-item">October <span class="label label-danger">Sold Out!</span></li> 
      <li class="list-group-item">November <span class="badge">3</span></li> 
    </ul>
    
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="paris.jpg" alt="Paris" width="400" height="300">
          <p><strong>Paris</strong></p>
          <p>Friday 27 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="newyork.jpg" alt="New York" width="400" height="300">
          <p><strong>New York</strong></p>
          <p>Saturday 28 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="sanfran.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>San Francisco</strong></p>
          <p>Sunday 29 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
              <input type="number" class="form-control" id="psw" placeholder="How many?">
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
              <button type="submit" class="btn btn-block">Pay 
                <span class="glyphicon glyphicon-ok"></span>
              </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
          <p>Need <a href="#">help?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (The SHOWS Section) -->
<!--<div class="container">
  <h2>Carousel Example</h2>-->
  <div id="shows" class="carousel slide" data-ride="carousel">
    
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!--<a class="navbar-brand" href="#myPage">Shows em 'Nome da Cidade'</a>-->
      <div class="item active">
        <img src="../../assets/img/pecu_hej.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>Pecuária de Goiânia</h3>
          <p>Principais Artistas da atualidade se apresentarão em 5 grandes noites!</p>
        </div>
      </div>

      <div class="item">
        <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Vila Mix</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Festeja</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    <!--</div>-->

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<!-- Container (ARTISTAS Section) -->


<!-- Container (Termos de Uso) -->
<div id="termos" class="container text-center">
  <h3>TERMOS DE USO DA APLICAÇÃO</h3>
  <p><em>FAN, ESCOLHA SUAS MÚSICAS PREDILETAS!</em></p>
  <p>A equipe ASBuilT criou este site para os fãs de música. Só poderá ser utilizado um e-mail por usuário, e o voto será contabilizado para cada cantor do seu show escolhido. Caso queira 
    compartilhar algum show com seus amigos nas redes sociais basta realizr o Login pelo Facebook ou Google e compartilhar na sua linha do tempo. O resultado final da votação das músicas será
    divulgado em uma data previamente disponibilizada no próprio site. Seus dados utilizados são os básicos de Perfil, selecionados no cadastro ou por meio da rede social (Nome, e-mail, foto).
  </p>
</div>


<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contato</h3>
  <p class="text-center"><em>Quer participar de nosso projeto?</em></p><br>

  <div class="row">
    <div class="col-md-4">
      <p>Deixe sua mensagem.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Goiânia, GO - Brasil</p>
      <p><span class="glyphicon glyphicon-phone"></span> Telefone: +55 (62)7070-7070</p>
      <p><span class="glyphicon glyphicon-envelope"></span> Email: mail@mail.com</p>
      <p><span class="glyphicon glyphicon-info-sign"></span><a href="http://github.com/pedlop"> Pedro Lopes</a></p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="E-mail" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comentário" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3 class="text-center">Comentários</h3>  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Beltrano</a></li>
    <li><a data-toggle="tab" href="#menu1">Fulano</a></li>
    <li><a data-toggle="tab" href="#menu2">Ciclano</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>Beltrano Silva, Florianópolis</h2>
      <p>Cara, sensacional essa ideia, irei votar nas melhores músicas.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>Fluano Zé, Porto Alegre</h2>
      <p>Agora participamos mais ainda do show.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>Ciclano Filho, Inhumas</h2>
      <p>Eu acho que a aplicação é muito útil, ajuda os artistas e nos presenteia com essa escolha.</p>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<!--<div id="googleMap"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(41.878114, -87.629798);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->



<!-- Footer -->


<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
    <p>Website desenvolvido no repositório <a href="https://github.com/pedlop/fan-playlist" data-toggle="tooltip" title="Visite pedlop/fan-playlist">github.com/pedlop/fan-playlist</a></p>
    <p>Projeto criado e versão mobile futuramente disponiblizada pela equipe <a href="https://bitbucket.org/asbuilt/" ><b>ASBuilT</b></a></p>
    <p>© 2017 FanPlaylist. Todos os direitos reservados. <u><a href="https://github.com/pedlop">  Pedro Lopes</a></u></p>
  
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip(); 
  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>