<div id="myCarousel" class="carousel slide" data-ride="carousel"> 
     
  <!-- Wrapper for slides --> 
  <div class="carousel-inner" role="listbox"> 
    <carousel> 
      <slide> 
        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="First slide" width="100%"> 
        <div class="carousel-caption"> 
          <h3>Estamos em sua Cidade</h3> 
          <p>A atmosfera dos shows invade seus dispositivos móveis.</p> 
        </div> 
      </slide> 
      <slide> 
        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="Second slide" width="100%"> 
        <div class="carousel-caption"> 
          <h3>Second slide label</h3> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
        </div> 
      </slide> 
      <slide> 
        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="Third slide" width="100%"> 
        <div class="carousel-caption"> 
          <h3>Third slide label</h3> 
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> 
        </div> 
      </slide> 
    </carousel> 
  </div> 
</div> 


<!-- Container (Equipe Section) --> 
<div id="equipe" class="container text-center"> 
  <h3>A EQUIPE ASBUILT</h3> 
  <p><em>Desenvolvendo Aplicações!</em></p> 
  <p>ASBuilT - Application and Systems Builder Team.</p> 
  <p>A ideia de ter uma equipe para desenvolvimento de aplicações, tanto web quanto mobile, teve início após a realização de diversos trabalhos pelos integrantes da equipe, juntamente com a  
    ideia que um de nossos membros teve quanto ao desenvolvimento de uma aplicação relacionada a Shows de Músicas, logo veio também a criação do nome da equipe que iria desenvolvê-la. 
    Todos os membros estão no 7º período do curso de Engenharia de Software pela Universidade Federal de Goiás. A criação de um website desta aplicação veio com a necessidade de construir uma 
    ferramenta web para a disciplina Desenvolvimento de Software para Web 2017/1, ministrada pelo professor Walison Moreira. Toda a documentação está disponível apenas para os membros da equipe 
    na solução Git conhecida com Bitbucket. O repositório deste website pode ser encontrado no Github em <a href="http://www.github.com/pedlop/fan-playlist">FanPlaylist</a>. 
  </p> 
  <br> 
  <div class="row"> 
    <div class="col-sm-3"> 
      <p class="text-center"><strong>Pedro Victor</strong></p> 
      <a  href="#demo" (click)="abreInfo = !abreInfo"> 
        <img src="https://lh3.googleusercontent.com/-YViV3lbb0QU/WHv73JYuy0I/AAAAAAAAFQ4/WxGPNE1WdYI_ZNvlb2Bm6gUfx5bd28whQCEw/w140-h140-p/IMG_3949.JPG" class="img-circle person" alt="Random Name" width="255" height="255"> 
      </a> 
      <div class="collapse" [collapse]="!abreInfo"> 
        <p>Estudante de Engenharia de Software - UFG</p> 
        <p>Gerente de Configuração/Projeto e Desenvolvedor Full-Stack</p> 
        <p>Cursando 7º período</p> 
      </div> 
    </div> 
    <div class="col-sm-3"> 
      <p class="text-center"><strong>Lucas Vinicios</strong></p> 
      <a href="#demo2" (click)="abreInfo2 = !abreInfo2"> 
        <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/15171133_1497460786961441_508479736008722086_n.jpg?oh=838ef91b5264ae15c08013b1e88a00b9&oe=59B5ED62" class="img-circle person" alt="Random Name" width="255" height="255"> 
      </a> 
      <div class="collapse" [collapse]="!abreInfo2"> 
        <p>Estudante de Engenharia de Software - UFG</p> 
        <p>Desenvolvedor Full-Stack</p> 
        <p>Cursando 7º período</p> 
      </div> 
    </div> 
    <div class="col-sm-3"> 
      <p class="text-center"><strong>João Henrique</strong></p> 
      <a href="#demo3" (click)="abreInfo3 = !abreInfo3"> 
        <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/10305961_643148819126726_5203516738795697353_n.jpg?oh=7bc6436428abb9758f3ebe024dfe2e6f&oe=599C7023" class="img-circle person" alt="Random Name" width="255" height="255"> 
      </a> 
      <div class="collapse" [collapse]="!abreInfo3"> 
        <p>Estudante de Engenharia de Software - UFG</p> 
        <p>Desenvolvedor Full-Stack</p> 
        <p>Cursando 7º período</p> 
      </div> 
    </div> 
      <div class="col-sm-3"> 
      <p class="text-center"><strong>Gabriel Barbosa</strong></p> 
      <a href="#demo4" (click)="abreInfo4 = !abreInfo4"> 
        <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/10959674_447173758784337_6821884226283037114_n.jpg?oh=d0afda04512d71b4b11f0e1224609426&oe=59ADC047" class="img-circle person" alt="Random Name" width="255" height="255"> 
      </a> 
      <div class="collapse" [collapse]="!abreInfo4"> 
        <p>Estudante de Engenharia de Software - UFG</p> 
        <p>Desenvolvedor Full-Stack</p> 
        <p>Cursando 7º período</p> 
      </div> 
     
    </div> 
  </div> 
</div> 
 
<!-- Container (The SHOWS Section) --> 
<div id="shows" class="carousel slide" data-ride="carousel"> 
  <!--<div class="carousel-inner"> - imagem preta e branca --> 
    <carousel> 
      <slide> 
        <a href="#artistas"> 
          <img src="../../assets/img/pecu_hej.jpg" alt="First slide"> 
          <div class="carousel-caption"> 
            <h3>Pecuária de Goiânia</h3> 
            <p>Principais Artistas da atualidade se apresentarão em 5 grandes noites!</p> 
          </div> 
        </a> 
      </slide> 
      <slide> 
        <img src="http://villamixfestival.com.br/wp-content/uploads/2017/04/SITE-1920x640-VMF-GOI%C3%82NIA-2017.png" alt="Second slide"> 
        <div class="carousel-caption"> 
          <h3>Vila Mix</h3> 
          <p>Apresentações dos principais artistas nacionais e internacionais em 2 dias de Show!</p> 
        </div> 
      </slide> 
      <slide> 
        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="Third slide" width="100%"> 
        <div class="carousel-caption"> 
          <h3>Festeja</h3> 
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> 
        </div> 
      </slide> 
    </carousel> 
  <!--</div>--> 
</div> 


<!-- Container (ARTISTAS Section) --> 
<div id="artistas" class="container_artistas"> 
  <div class="container"> 
    <h1 class="text-center">Pecuária de Goiânia</h1> 
    <a href="/musicas"> 
    <div class="row equipo-item"> 
      <div class="col-md-3 separador-vertical"><img src="http://portal02.cdn.superplayer.fm/5/1/516883178DCB822F4F6DFB5F85179E22.jpg" class="img-responsive center-block"></div>  
      <div class="col-md-9"> 
        <h2 class="titulo-equipo">Henrique & Juliano</h2> 
        <ul style="list-style-type:none"> 
          <li>Data: 27/06/2017</li> 
          <li style="font-size:25px;font-weight:bold">Sábado</li> 
          <li style="font-spacing:5px">Ingresso: R$22,00(Meia) | R$44,00(Inteira)</li> 
        </ul>  
      </div> 
    </div> 
    </a> 
 
    <a href=""> 
    <div class="row equipo-item"> 
     <div class="col-md-3 separador-vertical"><img src="https://e.snmc.io/lk/l/a/9715564fcf823e4eb0b902bd7460bc55/6160312.jpg" class="img-responsive center-block"></div>  
     <div class="col-md-9"> 
       <h2 class="titulo-equipo">Maiara & Maraisa</h2> 
       <ul style="list-style-type:none"> 
         <li>Data: 26/06/2017</li> 
         <li style="font-size:25px;font-weight:bold">Sexta Feira</li> 
         <li style="font-spacing:5px">Ingresso: R$22,00(Meia) | R$44,00(Inteira)</li> 
       </ul>  
     </div> 
    </div>  
    </a> 
  </div> 
</div> 


<!-- Container (Termos de Uso) --> 
<div id="termos" class="container text-center"> 
  <h3>TERMOS DE USO DA APLICAÇÃO</h3> 
  <p><em>FAN, ESCOLHA SUAS MÚSICAS PREDILETAS!</em></p> 
  <p>A equipe ASBuilT criou este site para os fãs de música. Só poderá ser utilizado um e-mail por usuário, e o voto será contabilizado para cada cantor do seu show escolhido. Caso queira  
    compartilhar algum show com seus amigos nas redes sociais basta realizr o Login pelo Facebook ou Google e compartilhar na sua linha do tempo. O resultado final da votação das músicas será 
    divulgado em uma data previamente disponibilizada no próprio site. Seus dados utilizados são os básicos de Perfil, selecionados no cadastro ou por meio da rede social (Nome, e-mail, foto). 
  </p> 
</div> 
 
 
<!-- Container (Contact Section) --> 
<div id="contato" class="container"> 
  <h3 class="text-center">Contato</h3> 
  <p class="text-center"><em>Quer participar de nosso projeto?</em></p><br> 
 
  <div class="row"> 
    <div class="col-md-4"> 
      <p>Deixe sua mensagem.</p> 
      <p><span class="glyphicon glyphicon-map-marker"></span> Goiânia, GO - Brasil</p> 
      <p><span class="glyphicon glyphicon-phone"></span> Telefone: +55 (62)7070-7070</p> 
      <p><span class="glyphicon glyphicon-envelope"></span> Email: mail@mail.com</p> 
      <p><span class="glyphicon glyphicon-info-sign"></span><a href="http://github.com/pedlop"> Pedro Lopes</a></p> 
    </div> 
    <div class="col-md-8"> 
      <div class="row"> 
        <div class="col-sm-6 form-group"> 
          <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required> 
        </div> 
        <div class="col-sm-6 form-group"> 
          <input class="form-control" id="email" name="email" placeholder="E-mail" type="email" required> 
        </div> 
      </div> 
      <textarea class="form-control" id="comments" name="comments" placeholder="Comentário" rows="5"></textarea> 
      <br> 
      <div class="row"> 
        <div class="col-md-12 form-group"> 
          <button class="btn pull-right" type="submit">Enviar</button> 
        </div> 
      </div> 
    </div> 
  </div> 
  <br> 
  <h3 class="text-center">Comentários</h3>   
  <ul class="nav nav-tabs"> 
    <li class="active"><a data-toggle="tab" href="#home">Beltrano</a></li> 
    <li><a data-toggle="tab" href="#menu1">Fulano</a></li> 
    <li><a data-toggle="tab" href="#menu2">Ciclano</a></li> 
  </ul> 
 
  <div class="tab-content"> 
    <div id="home" class="tab-pane fade in active"> 
      <h2>Beltrano Silva, Florianópolis</h2> 
      <p>Cara, sensacional essa ideia, irei votar nas melhores músicas.</p> 
    </div> 
    <div id="menu1" class="tab-pane fade"> 
      <h2>Fluano Zé, Porto Alegre</h2> 
      <p>Agora participamos mais ainda do show.</p> 
    </div> 
    <div id="menu2" class="tab-pane fade"> 
      <h2>Ciclano Filho, Inhumas</h2> 
      <p>Eu acho que a aplicação é muito útil, ajuda os artistas e nos presenteia com essa escolha.</p> 
    </div> 
  </div> 
</div> 