<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Template feito pelo www.w3schools.com - Site desenvolvido pela equipe ASBuilT -->
  <title>FanPlaylist</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />

</head>
<body>

  <!--<div>    
    <h3>Multiple</h3>
    <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"></p-selectButton>
    <p>Selected Types: <span *ngFor="let type of selectedTypes">{{type}} </span></p>

    <hr />

    <button type="button" (click)="clear()" pButton icon="fa-close" label="Clear"></button>
  </div>-->

  <div>
    <h3>Customized - ({{checked2}})</h3>
    <p-toggleButton [(ngModel)]="checked2" onLabel="I confirm" offLabel="I reject" onIcon="fa-check-square" offIcon="fa-square" [style]="{'width':'150px'}"></p-toggleButton>
  </div>

  <div>
    <pre class="card card-block card-header">Model: {{asyncSelected | json}}</pre>
    <input [(ngModel)]="asyncSelected"
          [typeahead]="dataSource"
          (typeaheadLoading)="changeTypeaheadLoading($event)"
          (typeaheadNoResults)="changeTypeaheadNoResults($event)"
          (typeaheadOnSelect)="typeaheadOnSelect($event)"
          typeaheadOptionsLimit="7"
          typeaheadOptionField="artista"
          placeholder="Selecione um artista"
          class="form-control">
    <div *ngIf="typeaheadLoading===true">
      <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
    </div>
    <div *ngIf="typeaheadNoResults===true" class="" style="">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
  </div>

  <div id="albuns" class="container">
    <div class="row">

      <div class="album" *ngFor="let item of listaMusicas">
        <div class="col-md-2"><img src="{{item.imagem}}" class="img-responsive center-block"></div> 
        <div class="col-sm-4">
          <h2 class="titulo-album">{{item.titulo}}</h2>
          <h3 class="subtitulo-album">{{item.ano}}</h3>
          <p class="texto-album">Henrique e Juliano</p>  
          <div class="well">
            <ul class="list-group checked-list-box" *ngFor="let musica of item.musicas" >
              <li class="list-group-item">{{musica}}
                <span class="badge">{{votos()}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
            
    </div> 
  </div>


  <br><br><br>

  <!-- Footer -->
  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
      <p>Website desenvolvido no repositório <a href="https://github.com/pedlop/fan-playlist" data-toggle="tooltip" title="Visite pedlop/fan-playlist">github.com/pedlop/fan-playlist</a></p>
      <p>Projeto criado e versão mobile futuramente disponiblizada pela equipe <a href="https://bitbucket.org/asbuilt/" ><b>ASBuilT</b></a></p>
      <p>© 2017 FanPlaylist. Todos os direitos reservados. <u><a href="https://github.com/pedlop">  Pedro Lopes</a></u></p>
  </footer>

</body>