<div class="container" style="padding-top: 7%;">
    <div class="row">
    	<div class="col-md-12">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail" >
					<h4 class="text-center"><span class="label label-info">Shows</span></h4>
					<img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
					<div class="texto-box">
            <h3><label>+ de 10 Shows Cadastrados</label></h3>

            <p>Vila Mix, Pecuária ...</p>
            
            <a href="/administrar-shows" class="btn btn-success btn-product">
              <span class="glyphicon glyphicon-globe"></span> Cadastrar Shows </a>

					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail" >
					<h4 class="text-center"><span class="label label-info">Artistas</span></h4>
					<img src="http://placehold.it/650x450&text=iPhone 6" class="img-responsive">
					<div class="texto-box">

            <h3><label>+ de 20 Artistas Cadastrados</label></h3>

            <p>Jorge e Matheus, Henrique e Juliano ...</p>
            
            <a href="/administrar-artistas" class="btn btn-success btn-product">
              <span class="glyphicon glyphicon-user"></span> Cadastrar Artistas </a>

					</div>
				</div>
			</div>
            <div class="col-sm-6 col-md-4">
				<div class="thumbnail" >
					<h4 class="text-center"><span class="label label-info">Músicas</span></h4>
					<img src="http://placehold.it/650x450&text=Lumia 1520" class="img-responsive">
					<div class="texto-box">
						
            <h3><label>+ de 300 Músicas Cadastradas</label></h3>
				
						<p>Te assumi para o Brasil, Vidinha de Balada ...</p>

            <a href="/administrar-musicas" class="btn btn-success btn-product">
              <span class="glyphicon glyphicon-music"></span> Cadastrar Músicas </a>

					</div>
				</div>
			</div>
            
        </div> 

	</div>
</div>